* {
  margin: 0;
  padding: 0;
  user-select: none;
}

#cvs {
  /* position: fixed;
  width: 100%;
  height: 100%; */
  background-size: contain;
}

.map-box {
  position: relative;
  height: 100%;
  width: 100%;
}

.map-layout {
  position: absolute;
  top: 0;
}

map * {
  cursor: pointer;
}

.sw {
  /* color: white; */
  padding: 4px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 4px;
}

.title {
  font-size: 16px;
  margin-bottom: 10px;
}

.msg {
  padding: 10px;
  width: 100%;
}

.content{
  display: flex;
  margin: 10px auto;
  flex-direction: row;
  justify-content: space-between;
}
.intro{
  margin-left: 12px;
  flex: 2;
}

.handler {
  position: absolute;
  right: 0;
  top: 40%;
}

.side {
  position: fixed;
  right: 0;
  top: 30vh;
  font-size: 20px;
}